/* defaults */
body {
    background-color: #303530;
    color: #eee;
    font-family: 'Ubuntu', sans-serif;
    height: 100vw;
    min-height: 100vw;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

#all-container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    margin: 0px;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

#table-container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

/* all content */
#content {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

#pusher {
    height: 200px;
}


/* links to github, linkedin, stackoverflow */
.sidebar {
    vertical-align: middle;
    min-width: 50px;
    position: fixed;
    top: 40%;
    margin-left: 10px;
}

.sidebar > a {
    color: #fff;
}

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
    font-size: medium;
    position: relative;
}

/* terminal visualization */
.terminal {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    vertical-align: top;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%
}

.terminal-header {
    border-top: solid;
    border-radius: 10px;
    border-color: #000;
    background-color: #222;
}

.terminal-header > h3 {
    padding-bottom: 8px;
    margin-top: 8px;
    margin-left: 60px;
}

.terminal-body {
    overflow-y: scroll;
    width: 100%;
    margin-top: 0px;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

#terminal-text {
    margin-left: 60px;
    margin-right: 20px;
    height: auto;
    font-size: 16px;
}

#terminal-prompt {
    font-size: 16px;
    margin-left: 60px;
    margin-right: 0px;
}

#terminal-prompt-text {
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
}

.invisible {
    display: none;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 16px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* custom scroll bar */
.track {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track:hover,
.track.dragging {
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}

.handle {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track:hover .handle,
.track.dragging .handle {
    width: 10px;
}
